body {
    padding: 0;
    margin: 0;
    background-color: #7799c3;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 31.25em;
    padding: 1.25em;

    display: flex;
    flex-direction: column;
    gap: 1.2em;

    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.3125em;
    font-size: 1rem;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    border-radius: 10px;

    -webkit-box-shadow:
      0 10px 6px rgba(0,0,0,0.16),
      0 10px 6px rgba(0,0,0,0.23),
      0 0 10px #222 inset;
    box-shadow:
      0 10px 6px rgba(0,0,0,0.16),
      0 10px 6px rgba(0,0,0,0.23),
      0 0 10px #222 inset;

    background-color: #f8fbfb;
}

.lsd {
    height: 7.5em;
    padding: 0.3125em;
    margin-bottom: 0.625em;

    display: flex;
    flex-direction: column;
    text-align: right;

    border: 1px solid #bbb;
    border-radius: 2px;

    -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);

    color: #393672;
}

.lsd .history {
    padding: 0.3125em;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: rtl;
    background-color: #b3c3d2;
    text-shadow: 0.0625em 0.0625em #7799c3;
}

.lsd .history span {
    direction: ltr;
    unicode-bidi: plaintext;
}

.lsd .display {
    padding: 0.3125em;
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #7fb3c6;
    text-shadow: 0.0625em 0.125em #558ABB;
}

.lsd .display .state {
    padding-top: 1px;
    font-size: 1.2em;
}

.lsd .display .digits {
    flex-grow: 1;
    font-size: 3.7em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    direction: ltr;
    unicode-bidi: plaintext;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
    row-gap: 1.5em;
}

.controls * {
    height: 1.8em;
    flex-basis: calc(25% - 0.5em);
    position: relative;
    top: -3px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    font-weight: normal;

    cursor: pointer;
    transform: translateY(0px);
    border-radius: 10px;

    text-shadow: 1px 1px 0 rgba(0,0,0,.3);

    transition: 100ms all;
    -webkit-transition: 100ms all;
    -moz-transition: 100ms all;
    -o-transition: 100ms all;
    -ms-transition: 100ms all;
}

.controls .active,
.controls :active {
    transform: translateY(3px);
}

.controls .operator {
    border: 1px solid #8b8787;
    box-shadow:
        inset 0 30px 30px -15px rgba(255,255,255,.1),
        inset 0 0 0 1px rgba(255,255,255,.3),
        inset 0 1px 20px rgba(0,0,0,0),
        0 3px 0 #8f9196,
        0 3px 2px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.1),
        0 10px 20px rgba(0,0,0,.1);
    background: #bebec6;
    color: #3d3c3c;
}

.controls .operator.active,
.controls .operator:active {
    box-shadow:
        inset 0 16px 2px -15px rgba(0,0,0,0),
        inset 0 0 0 1px rgba(255,255,255,.15),
        inset 0 1px 20px rgba(0,0,0,.1),
        0 0 0 #c6b9b8,
        0 0 0 2px rgba(255,255,255,.5),
        0 0 0 rgba(0,0,0,0),
        0 0 0 rgba(0,0,0,0);
}
.controls .operator:hover {
    background: #ccccd4;
}

.controls .digit {
    border: 1px solid #a2a2a2;
    box-shadow:
        inset 0 30px 30px -15px rgba(255,255,255,.1),
        inset 0 0 0 1px rgba(255,255,255,.3),
        inset 0 1px 20px rgba(0,0,0,0),
        0 3px 0 #aaa9a9,
        0 3px 2px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.1),
        0 10px 20px rgba(0,0,0,.1);
    background: #d9d7d7;
    color: #3d3c3c;
}

.controls .digit.active,
.controls .digit:active {
    box-shadow:
        inset 0 16px 2px -15px rgba(0,0,0,0),
        inset 0 0 0 1px rgba(255,255,255,.15),
        inset 0 1px 20px rgba(0,0,0,.1),
        0 0 0 #f4ebea,
        0 0 0 2px rgba(255,255,255,.5),
        0 0 0 rgba(0,0,0,0),
        0 0 0 rgba(0,0,0,0);
}

.controls .digit:hover {
    background-color: #dedede;
}

.controls .power {
    border: 1px solid #be4b34;
    box-shadow:
        inset 0 30px 30px -15px rgba(255,255,255,.1),
        inset 0 0 0 1px rgba(255,255,255,.3),
        inset 0 1px 20px rgba(0,0,0,0),
        0 3px 0 #9b2c12,
        0 3px 2px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.1),
        0 10px 20px rgba(0,0,0,.1);
    background: #d84a2f;
    color: #e6e6e6;
}

.controls .power.active,
.controls .power:active {
    box-shadow:
        inset 0 16px 2px -15px rgba(0,0,0,0),
        inset 0 0 0 1px rgba(255,255,255,.15),
        inset 0 1px 20px rgba(0,0,0,.1),
        0 0 0 #e53a14,
        0 0 0 2px rgba(255,255,255,.5),
        0 0 0 rgba(0,0,0,0),
        0 0 0 rgba(0,0,0,0);
}

.controls .power:hover {
    background: #de6047;
}

.controls .memory {
    height: 1.2em;
    border: 1px solid #3d3c3c;
    box-shadow:
        inset 0 30px 30px -15px rgba(255,255,255,.1),
        inset 0 0 0 1px rgba(255,255,255,.3),
        inset 0 1px 20px rgba(0,0,0,0),
        0 3px 0 #606060,
        0 3px 2px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.1),
        0 10px 20px rgba(0,0,0,.1);
    background: #3d3c3c;
    color: #d9d7d7;
}

.controls .memory.active,
.controls .memory:active {
    box-shadow:
        inset 0 16px 2px -15px rgba(0,0,0,0),
        inset 0 0 0 1px rgba(255,255,255,.15),
        inset 0 1px 20px rgba(0,0,0,.1),
        0 0 0 #f4ebea,
        0 0 0 2px rgba(255,255,255,.5),
        0 0 0 rgba(0,0,0,0),
        0 0 0 rgba(0,0,0,0);
}

.controls .memory:hover {
    background: #646363;
}

@media screen and (max-width: 540px) {
    .calculator {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 486px) {
    .calculator {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 432px) {
    .calculator {
        font-size: 0.7rem;
    }
}